[Unit]
Description=Import CA cert into Flatpak Firefox profiles
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/firefox-flatpak-cert-import.sh
RemainAfterExit=yes

[Install]
WantedBy=default.target
